.header{
    padding-top:2%;
    color: aliceblue;
    text-align: center;
}
.p2{
    color: silver;
    padding: 30px;
    width:50%;
    font-size: 20px;
}
.p1{
    color: silver;
    padding: 30px;
    width:50%;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .header{
        font-size: 35px;
        padding-top:2%;
        color: aliceblue;
        text-align: center;
    }
    .p1{
        color: silver;
        padding: 15px;
        width: 100%;
        font-size: 15px;
    }
    .p2{
        display: none;
    }
}