.typewriter {
  text-align: center;
  overflow: hidden; 
  border-right: .15em solid black; 
  color: white;
  top:30%;
  font-size: 60px;
  white-space: nowrap; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width:20% }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
}

@media only screen and (max-width: 600px) {
 .typewriter{
  text-align: center;
  overflow: hidden; 
  border-right: .15em solid black; 
  color: white;
  top:30%;
  font-size: 60px;
  white-space: nowrap;
 }
}